<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to image_tag('edit.png'), edit_game_path(game) if can? :edit, game %></td>
    <td><%= link_to game.name, game %></td>
    <td><%= link_to image_tag('delete.png'), game, :confirm => 'Are you sure?', :method => :delete if can? :delete, game %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
